<!DOCTYPE html>{%load staticfiles%}{%load i18n%}
<html lang="{{lang|default:'zh_hant'}}">
<head>
{%block head%}
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	{%block title%}<title>{{wf_title|default:'NoTitle'}}</title>{%endblock%}

	{%block scripts%}
	<script src="https://cdn.jsdelivr.net/jquery/2.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.14.0/additional-methods.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.form/3.51/jquery.form.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
	<script src="https://cdn.jsdelivr.net/datejs/1.0/date.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css"/>
	{%block themes%}
		<link rel="stylesheet" href="{%static 'css/base-theme.css'%}"/>
		<style type="text/css">
		{{wf_theme_styles|safe}}
		</style>
	{%endblock%}
<script type="text/javascript"><!--
$(document).ready(function(){
	$('#pnl_root').css('display', 'block').addClass('animated').addClass('slideInDown');
});
//--></script>
	{%endblock%}
{%endblock%}
</head>
<body>
<noscript style="padding: 50px;">
	<h1 style="padding: 0px 50px;">{%blocktrans%}Javascript is required{%endblocktrans%}</h1>
	<p style="padding: 0px 50px;">{%blocktrans%}The javascript must be enabled in this site to have the best browsing experience.{%endblocktrans%}</p>
	<p style="padding: 0px 50px;">{%blocktrans%}Click <a href="http://www.enable-javascript.com/" target="_blank">here</a> to see how to enable the javascript in your browser.{%endblocktrans%}</p>
</noscript>
{%block body%}<div>Body block will be here.</div>{%endblock%}
</body>
</html>
