{%extends 'webframe/framework.html'%}{%load i18n%}

{%block body%}
<div id="pnl_root">
	{%block header%}<div id="headerPnl"></div><script type="text/javascript"><!--
   $(document).ready(function(){
      $('#headerPnl').load('{%url "header"%}');
   });
   //--></script>{%endblock%}
   {%block breadcrumb%}{%endblock%}
   {%block messages%}{%if messages%}<ul class="jumbotron jumbotron-breadcrumb">{%for msg in messages%}
       <li class="animated flash alert {%if msg.tags%} msg-{{msg.tags}}{%endif%}">{{msg|safe}}</li>
   {%endfor%}</ul>{%endif%}{%endblock%}
	{%block content%}<div id="pnl_body" class="jumbotron pnl-content">
		<h1>Content Block</h1><hr/>
		<p>This is the content block. Please kindly to override this block to show your content here.</p>
	</div>{%endblock%}
	{%block footer%}{%include TMPL_FOOTER%}{%endblock%}
</div><!-- End of pnl_root -->
{%endblock%}
