<!DOCTYPE html>{%load staticfiles%}{%load i18n%}
<html lang="{{lang|default:'zh_hant'}}">
<head>
{%block head%}
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{%block title%}{{wf_title|default:'NoTitle'}}{%endblock%}</title>

	{%block scripts%}{%include TMPL_SCRIPTS%}{%endblock%}
{%endblock%}
</head>
<body>
<noscript><div class="noscript" style="display:block; width:80%; margin:50px auto;">{%block noscript%}
	<h1>{%blocktrans%}Javascript is required{%endblocktrans%}</h1>
	<p>{%blocktrans%}The javascript must be enabled in this site to have the best browsing experience.{%endblocktrans%}</p>
	<p>{%blocktrans%}Click <a href="http://www.enable-javascript.com/" target="_blank">here</a> to see how to enable the javascript in your browser.{%endblocktrans%}</p>
{%endblock%}</div></noscript>
{%block body%}<div>Body block will be here.</div>{%endblock%}
</body>
</html>
