{%load i18n%}{%load urlexists%}
<div id="pnl_header"><nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
   <a class="navbar-brand" href="#">Brand</a>
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="navbarCollapsibleContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active"><a href="#" class="nav-link">Link <span class="sr-only">(current)</span></a></li>
         <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="#">Action</a>
               <a class="dropdown-item" href="#">Another action</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">Something else here</a>
           </div>
         </li>
         <li class="nav-item">
            <form class="form-inline my-2 my-lg-0" role="search">
               <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-append"><button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button></span>
               </div>
            </form>
         </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
         {%if user.is_authenticated%}
         {%if 'webframe:users'|urlexists%}{%if perms.auth.add_user or perms.auth.change_user%}<li class="nav-item"><a href="{%url 'webframe:users'%}" class="nav-link"><i class="fas fa-users"></i> {%trans 'users'%}</a></li>{%endif%}{%endif%}
         {%if 'webframe:prefs'|urlexists or 'webframe:logout'|urlexists%}<li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {%blocktrans with username=user.get_full_name|default:user.username%}Hi, {{username}}{%endblocktrans%} <span class="caret"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               {%if 'webframe:prefs'|urlexists%}<a href="{%url 'webframe:prefs' user=user.username%}" class="dropdown-item"><i class="fas fa-cogs"></i> {%trans 'preferences'%}</a>{%endif%}
               {%if 'webframe:logout'|urlexists%}<a href="{%url 'webframe:logout'%}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> {%trans 'logout'%}</a>{%endif%}
            </div>
         </li>{%else%}<li class="nav-item"><a href="#" class="nav-link">{%blocktrans with username=user.get_full_name%}Hi, {{username}}{%endblocktrans%}</a></li>{%endif%}
         {%else%}
         {%if 'webframe:login'|urlexists%}<li class="nav-item"><a href="{%url 'webframe:login'%}" class="nav-link"><i class="fas fa-sign-in-alt"></i> {%trans 'login'%}</a></li>{%endif%}
         {%endif%}
      </ul>
   </div><!-- /.navbar-collapse -->

   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsibleContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav></div>

{%block messages%}{%if messages%}<div class="jumbotron" style="margin: 0px; padding: 5px 20px;"><ul>{%for msg in messages%}
    <li class="animated flash"><span class="label{%if msg.tags%} label-{{msg.tags}}{%endif%}">{{msg}}</span></li>
{%endfor%}</ul></div>{%endif%}{%endblock%}
