{%load i18n urlexists getitem%}
<b-navbar toggleable="lg" type="light" variant="light">
   <b-navbar-brand href="#">Brand</b-navbar-brand>
   <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

   <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
         <b-nav-item href="#">Link</b-nav-item>
         <b-nav-item href="#" disabled>Disabled</b-nav-item>
         <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
         </b-nav-form>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
         <b-nav-item-dropdown text="Lang">{%for l in LANGS%}
            <b-dropdown-item href="?lang={l|getitem:0}}#">{{l|getitem:1}}</b-dropdown-item>
         {%endfor%}</b-nav-item-dropdown>
         {%if user.is_authenticated%}<b-nav-item-dropdown text="{%blocktrans with username=user.get_full_name|default:user.username%}Hi, {{username}}{%endblocktrans%}">
            {%if user.is_impersonate%}
               <b-dropdown-item href="{%url 'impersonate-stop'%}">{%trans 'impersonate-stop'%}</b-dropdown-item>
               <b-dropdown-divider></b-dropdown-divider>
            {%endif%}
            {%if user.is_staff%}<b-dropdown-item href="{%url 'admin:index'%}"><i class="fas fa-cogs"></i> {%trans 'admin-tools'%}</b-dropdown-item>{%endif%}
            {%if 'webframe:users'|urlexists%}{%if perms.auth.add_user or perms.auth.change_user%}<b-dropdown-item href="{%url 'webframe:users'%}"><i class="fas fa-users"></i> {%trans 'users'%}</b-dropdown-item>{%endif%}{%endif%}
            {%if 'webframe:prefs'|urlexists or 'webframe:logout'|urlexists%}<b-dropdown-item href="{%url 'webframe:prefs' user='_'%}"><i class="fas fa-cogs"></i> {%trans 'logout'%}</b-dropdown-item>{%endif%}
            <b-dropdown-divider></b-dropdown-divider>
            {%if 'webframe:logout'|urlexists%}<b-dropdown-item href="{%url 'webframe:logout'%}"><i class="fas fa-sign-out-alt"></i> {%trans 'logout'%}</b-dropdown-item>{%endif%}
         </b-nav-item-dropdown>{%else%}
            {%if 'webframe:login'|urlexists%}<b-nav-item href="{%url 'webframe:login'%}"><i class="fas fa-sign-in-alt"></i> {%trans 'login'%}</b-nav-item>{%endif%}
         {%endif%}
      </b-navbar-nav>
   </b-collapse>
</b-navbar>
