{%load static pref%}
{%comment "SyncLineNumber"%}
The line number is aligned with "./scripts.html". You can view it by belows commands:

      vim -o scripts.html loading.html -c "set nowrap"
{%endcomment%}


<script type="text/javascript" src="https://cdn.jsdelivr.net/datejs/1.0/date.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/humanize/0.0.9/humanize.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tempusdominus-bootstrap-4@5.1.2/build/js/tempusdominus-bootstrap-4.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
<script type="text/javascript" src="{%static 'js/webframe/jqueryvalidation.date.js'%}"></script>
<script type="text/javascript" src="{%static 'js/webframe/jqueryvalidation.regex.js'%}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-form@4.2.2/dist/jquery.form.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/summernote@0.8.12/dist/summernote-bs4.js"></script>


<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typeahead.js@0.11.1/dist/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typeahead.js@0.11.1/dist/bloodhound.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="{%static 'js/webframe/bootstrap-treeview.min.js'%}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>

{%comment "EndSyncLineNumber"%}{%endcomment%}

<script type="text/javascript" src="{%static 'js/webframe/jquery.actionlink.js'%}"></script>
<script type="text/javascript" src="{%static 'js/webframe/jquery.dropdown.js'%}"></script>
<script type="text/javascript" src="{%static 'js/webframe/jquery.fileupload.js'%}"></script>
<script type="text/javascript" src="{%static 'js/webframe/jquery.animate.js'%}"></script>
<script type="text/javascript" src="{%static 'js/webframe/pydatefmt.js'%}"></script>
<script type="text/javascript" src="{%static 'js/webframe/numformat.js'%}"></script>
<script type="text/javascript" src="{%static 'js/webframe/getQueryParams.js'%}"></script>
<script type="text/javascript" src="{% url 'webframe:js' %}"></script>
<script type="text/javascript"><!--
//2019-10-11 13:51 by Kenson: Fixing the DateTimePicker for Font Awesome 5
//  Reference: https://tempusdominus.github.io/bootstrap-4/Options/
$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
icons: {
   time: 'fas fa-clock',
   date: 'fas fa-calendar',
   up: 'fas fa-arrow-up',
   down: 'fas fa-arrow-down',
   previous: 'fas fa-chevron-left',
   next: 'fas fa-chevron-right',
   today: 'fas fa-calendar-check-o',
   clear: 'fas fa-trash',
   close: 'fas fa-times'
} });
//END

//2020-06-19 13:50 by Kenson: Add the Array.remove( value )
//   Reference: https://stackoverflow.com/questions/3954438/how-to-remove-item-from-array-by-value
Array.prototype.remove = function() {
    var what, a = arguments, L = a.length, ax;
    while (L && this.length) {
        what = a[--L];
        while ((ax = this.indexOf(what)) !== -1) {
            this.splice(ax, 1);
        }
    }
    return this;
};
//END

$(document).ready(function(){
   console.log('{{VERSION|default:"beta or VERSION is not ready; Add webframe.providers.absolute_path into context_processors"}}');
   $('#pnl_root').css('display', 'block').addClass('animated').addClass('{{entrances|default:"fadeIn"}}');

   //File component
   $('input[type=file]').on('change', function(){
      $('label[for='+$(this).prop('id')+']').text($(this).val());
   });

   //Mandatory Indicator
   if(typeof(_AutoRequiredIndicator)=='undefined' || _AutoRequiredIndicator){
      $('form').find('.field').each(function(){
         $(this).find('input[required],textarea[required],select[required]').each(function(){
            $(this).parents('.field:first').find('label:first')
               .find('.mandatory').remove().end()
               .append('{{INDICATOR_MANDATORY|safe}}')
            ;
         });
      });
   };
});
//--></script>
