{%extends 'webframe/base.html'%}{%load i18n static pref%}

{%block title%}{%trans 'Login Required'%}{%endblock%}

{%block scripts-blk%}
<style type="text/css">
.btn-login{ min-width: 200px; min-height: 40px; display:inline-block;}
.seperator{ border-bottom: 1px solid black; text-align: center; margin-bottom:20px;}
.seperator span{ position:relative; top:1rem; background-color:white; padding:10px;}
ul.ul-messages{}
ul.ul-messages li{}
</style>
{%endblock%}

{%block loading-blk%}
<script type="text/javascript"><!--
const authenticationUrl='{%url "webframe:webauthn-authentication"%}';
</script>

<script type="text/javascript" src="{%static 'js/webframe/webauthn-authentication.js'%}"></script>
{%endblock%}


{%block body%}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-12">
         <form method="POST" id="loginFrm" class="card card-danger">
            <div class="card-header bg-danger">{%trans 'Login Required'%}</div>
            <div class="card-body">
               {%csrf_token%}
               
               {%block socialLogin%}
               <div class="pnl-socialAuth">
                  {%block loginMethods%}
                  {%if socialLogin_facebook%}<div class="btn-login">
                     <a href="{%url 'social:begin' 'facebook'%}"><img src="{%static 'img/webframe/login-facebook.png'%}" alt="{%trans 'login-facebook'%}"/></a>
                  </div>{%endif%}
                  {%if socialLogin_twitter%}<div class="btn-login">
                     <a href="{%url 'social:begin' 'twitter'%}"><img src="{%static 'img/webframe/login-twitter.png'%}" alt="{%trans 'login-twitter'%}"/></a>
                  </div>{%endif%}
                  {%if socialLogin_github%}<div class="btn-login">
                     <a href="{%url 'social:begin' 'github'%}"><img src="{%static 'img/webframe/login-github.png'%}" alt="{%trans 'login-github'%}"/></a>
                  </div>{%endif%}
                  {%if socialLogin_google%}<div class="btn-login">
                     <a href="{%url 'social:begin' 'google-oauth2'%}"><img src="{%static 'img/webframe/login-google.png'%}" alt="{%trans 'login-google'%}"/></a>
                  </div>{%endif%}
                  {%endblock%}
               </div>

               {%if socialLogin_facebook or socialLogin_twitter or socialLogin_github or socialLogin_google%}<div class="seperator"><span>{%trans 'OR'%}</span></div>{%endif%}
               {%endblock%}

               <input type="hidden" name="next" value="{{next|default:'/'}}"/>

               <div><ul class="ul-messages" id="msgPnl">{%block messages%}{%if messages%}{%for msg in messages%}
                   <li class="animated flash"><span class="alert alert-{{msg.tags|default:''}}">{{msg}}</span></li>
               {%endfor%}{%endif%}{%endblock%}</ul></div>
               
               {%block authenticationBackendsBlock%}<div class="field form-group">
                  <label for="backendsFld">{%trans 'Authentication Backends'%}</label>
                  <ul>
                     {%for b in backends%}<li>{{b}}</li>{%endfor%}
                  </ul>
               </div>{%endblock%}

               {%block loginFlds-blk%}<section name="loginFlds">
                  {%if IPAddrFld|default:True in TRUE_VALUES%}<div class="field form-group">
                     <label for="IPAddrFld" class="desktop-only">{%trans 'IPAddr'%}</label>
                     <input type="text" name="ipaddr" value="{{IPAddr}}" class="form-control" readonly="readonly" required="required"/>
                  </div>{%endif%}
                  <div class="field form-group">
                     <label for="usernameFld" class="desktop-only">{%trans 'username'%}</label>
                     <div class="input-group">
                        <input type="text" name="username" id="usernameFld" class="form-control" autocomplete="username" value="{{username|default:''}}" placeholder="{%trans 'username'%}" required="required"/>
                        <div class="input-group-append">
                           <button type="reset" class="btn btn-outline-secondary"><i class="fas fa-undo"></i></button>
                        </div>
                     </div>
                  </div>
                  <div class="field form-group d-none" id="field-password">
                     <label for="current-passwordFld" class="desktop-only">{%trans 'password'%}</label>
                     <input type="password" name="current-password" id="current-passwordFld" class="form-control" autocomplete="current-password" placeholder="{%trans 'password'%}" required="required"/>
                  </div>
                  <div class="pnl-btns">
                     {%if allow_registration%}<a class="btn btn-outline-info" href="{%url 'webframe:webauthn-registration'%}">{%trans 'registration'%}</a>{%endif%}
                     <button class="btn btn-success" type="submit" id="loginBtn" disabled="disabled">{%trans 'login'%}</button>
                  </div>
               </section>{%endblock%}

               {%block resetPwd-blk%}{%endblock%}

               {%block registration-blk%}{%endblock%}
            </div>
         </form>

         <div class="pnl-footer">{%block login_footer%}{%endblock%}
      </div>
	</div>
	
</div>
{%block footer%}{%include TMPL_FOOTER%}{%endblock%}
{%endblock%}
