{%extends TMPL_BASE%}{%load i18n%}

{%block title%}Help - {%trans 'appName'%}{%endblock%}

{%block scripts-blk%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/default.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/bash.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/python.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/json.min.js"></script>
<style type="text/css">
   .block-code{ }
   pre.block-code label{ display:block; border:1px solid lightgray; margin:0px; margin-top:1rem;}
</style>
<script type="text/javascript"><!--
$(document).ready(function(){
   hljs.highlightAll();
});
//--></script>
{%endblock%}

{%block content%}
<div class="jumbotron jumbotron-subject">
   <h1>No MenuItem created for this app</h1>

   <hr/>

   <p>The default menu-items was generated (tentatively) for you. To override/customize the nav-bar, please: <ol>

      <li>
         <p>Override the Default Header, the header can be refer to <a href="https://getbootstrap.com/docs/4.6/components/navbar/" target="_blank">Bootstrap Navbar</a>, by cloneing the sample and the configuration:
            <pre class="block-code"><label>BASH</label><code class="language-bash">
               cp webframe/templates/webframe/header-sample.html myapp/templates/myapp/header.html
            </code></pre>
            <pre class="block-code"><label> Python - settings.py</label><code class="language-python">
               TMPL_HEADER='myapp/header.html'
            </code></pre>
         </p>
      </li>
      
      <li>
         <p>Create the corresponding MenuItem(s) at <a href="{%url 'admin:webframe_menuitem_add'%}">admin-tools</a>; OR</p>
         <form action="{%url 'webframe:help-create-menuitem'%}" method="POST">
            {%csrf_token%}
            <p>If you would like me to create a sample for your, just click the belows button:<br/><button class="btn btn-warning" type="submit">Create Sample MenuItem</button></p>
         </form>
         <p style="margin-bottom:0px">The Sample MenuItem will be like this:</p>
            <pre class="block-code"><label>JSON</label><code class="language-json">{
  "name": "/",
  "label": "AppName",
  "childs": [
    {
      "name": "/Left",
      "childs": []
    },
    {
      "name": "/Right",
      "props": {
        "class": "navbar-right"
      },
      "childs": [
        {
          "name": "/Right/Hi",
          "label": "Hi, ",
          "childs": [
            {
              "name": "/Right/Hi/Logout",
              "label": "Logout",
              "props": {
                "href": "/webframe/logout"
              }
            }
          ]
        }
      ]
    }
  ]
}</code></pre>
      </li>
   </ol></p>
</div>
{%endblock%}
