{%extends TMPL_BASE%}{%load i18n django_tables2 method_override pref getitem%}

{%block title%}{%trans 'Preference.new' as emptypref%}{%blocktrans with pref=target.name|default:emptypref%}{{pref}} - Preferences{%endblocktrans%} - {%trans 'brand'%}{%endblock%}

{%block loading-blk%}
<script type="text/javascript" src="{% url 'webframe:js' %}"></script>
<script type="text/javascript"><!--
var hoverClass="{%pref 'HOVER_CLASS' defval='bg-secondary text-white' returnValue=True%}"; 
$(document).ready(function(){
   $('tr[prefId]').hover(function(){ $(this).addClass(hoverClass); }, function(){ $(this).removeClass(hoverClass); }).css('cursor', 'pointer').click(function(){
      window.location.href="{%url 'webframe:pref' user=currentuser.username|default:'None' prefId='_prefId_'%}".replace('_prefId_', $(this).attr('prefId'));
   });
   //Delete Logic: {%if not target.isNew%}
      $('#deleteBtn').click(function(){ 
         if(confirm(gettext('Preference.msg.confirmDelete')))
            $(this).parents('form:first')
               .find('input[name=_method]').val('DELETE').end()
               .submit();
      });
   //{%endif%}End Delete Logic
   rules={};
   messages={};
   $('#tipeFld')
      .on('ready', function(){
         var type=parseInt($('#tipeFld > input:first').val());
         switch(type){
            case 0: //NONE
               $('#valueFld').val('').prop('readonly', 'readonly');
               break;
            case 1: //Integer
               $('#valueFld').replaceWith('<input type="number" name="value" id="valueFld" class="form-control" digits="digits" value="{{target.value|default:''}}" required="required"/>');
               break;
            case 2: //Decimal
               $('#valueFld').replaceWith('<input type="number" name="value" id="valueFld" class="form-control" number="number" value="{{target.value|default:''}}" required="required"/>');
               break;
            case 3: //Boolean
               $('<input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" {%if target.boolValue%}checked="checked"{%endif%}/>').insertAfter(
                  $('#valueFld').css('display', 'none')
               ).on('change', function(evt){ $('#valueFld').val($(this).is(':checked')) }).trigger('change');
               break;
            case 4: //Text
               break;
            case 5: //Rich text
               $('#valueFld').summernote({height: 100});
               break;
            case 6: //URL
               $('#valueFld').replaceWith('<input type="text" name="value" id="valueFld" class="form-control" url="url" value="{{target.value|default:''}}"/>');
               break;
            case 7: //Email
               $('#valueFld').replaceWith('<input type="text" name="value" id="valueFld" class="form-control" email="email" value="{{target.value|default:''}}"/>');
               break;
            case 8: //Date
               $('#valueFld').replaceWith(
                  '<div class="input-group" id="valueFldCtr" data-target-input="nearest">'+
                  ' <input type="text" class="form-control datetimepicker-input" name="value" id="valueFld" data-target="#valueFldCtr" value="{{target.value}}"/>'+
                  ' <div class="input-group-append" data-target="#valueFldCtr" data-toggle="datetimepicker">'+
                  '  <div class="input-group-text"><i class="fa fa-calendar"></i></div>'+
                  ' </div>'+
                  '</div>'
               );
               $('#valueFldCtr').find('input:first').attr('placeholder', '{{FMT_JSDATE}}').end().datetimepicker({format: '{{FMT_JSDATE}}'});
               break;
            case 9: //Time
               $('#valueFld').replaceWith(
                  '<div class="input-group" id="valueFldCtr" data-target-input="nearest">'+
                  ' <input type="text" class="form-control datetimepicker-input" name="value" id="valueFld" data-target="#valueFldCtr" value="{{target.value}}"/>'+
                  ' <div class="input-group-append" data-target="#valueFldCtr" data-toggle="datetimepicker">'+
                  '  <div class="input-group-text"><i class="fa fa-clock"></i></div>'+
                  ' </div>'+
                  '</div>'
               );
               $('#valueFldCtr').find('input:first').attr('placeholder', '{{FMT_JSTIME}}').end().datetimepicker({format: '{{FMT_JSTIME}}'});
               break;
            case 10: //Date Time
               $('#valueFld').replaceWith(
                  '<div class="input-group" id="valueFldCtr" data-target-input="nearest">'+
                  ' <input type="text" class="form-control datetimepicker-input" name="value" id="valueFld" data-target="#valueFldCtr" value="{{target.value}}"/>'+
                  ' <div class="input-group-append" data-target="#valueFldCtr" data-toggle="datetimepicker">'+
                  '  <div class="input-group-text"><i class="fa fa-calendar"></i></div>'+
                  ' </div>'+
                  '</div>'
               );
               $('#valueFldCtr').find('input:first').attr('placeholder', '{{FMT_JSDATETIME}}').end().datetimepicker({format: '{{FMT_JSDATETIME}}'});
               break;
            case 11: //UUIDs
               rules['value']={'regex': '^([,\\s]*\\b[0-9a-f]{8}\\b-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-\\b[0-9a-f]{12}\\b[,\\s]*)+$'};
               messages['value']={'regex': "{%trans 'Preference.value.validation.uuid'%}"};
               break;
            default:
               break;
         }
      })
      .on('change', function(){ location.reload(); })
      .wfdropdown({
         'items':'a.dropdown-item',
         'onclick':jQuery.wfdropdown.onclick,
         'value': 'input:first',
      })
   ;
   $('#prefFrm').validate({'rules': rules, 'messages': messages});
});
//--></script>
{%endblock%}

{%block content%}<div class="jumbotron"><div class="pnl pnl-padding">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{%url 'webframe:prefs' user=req.user%}">{%trans 'Preference.new' as emptypref%}{%blocktrans with pref=target.name|default:emptypref%}{{pref}} - Preferences{%endblocktrans%}</a></li>
      {%if target.parent%}
         <li class="breadcrumb-item"><a href="{%url 'webframe:pref' user=req.user prefId=target.parent.id%}">{{target.parent.name}}</a></li>
      {%endif%}
      <li class="breadcrumb-item active">{{target.name}}</li>
   </ol>

   <h1>{%if target.user%}
      {%trans 'Preference.new' as emptypref%}{%blocktrans with pref=target.name|default:emptypref%}{{pref}} - Preferences{%endblocktrans%}
   {%else%}
      {%trans 'Config.new' as emptypref%}{%blocktrans with pref=target.name|default:emptypref%}{{pref}} - Configuration{%endblocktrans%}
   {%endif%}</h1>
   <form method="POST" id="prefFrm">
      {%csrf_token%}
      {% method_override 'POST'%}
      {%if target.parent%}<input type="hidden" name="parent" value="{{target.parent.id.hex}}"/>{%endif%}
      {%if config_key%}<input type="hidden" name="config_key" value="{{config_key}}"/>{%endif%}
      <div class="field form-group">
         <label for="tipeFld">{%trans 'webframe.models.Preference.tipe'%}</label>
         <div class="dropdown" id="tipeFld">
            <input type="hidden" name="tipe" value="{{target.tipe}}" required="required"/>
            <button type="button dropdown-toggle" data-toggle="dropdown" class="btn btn-secondary {%if prems.webframe.change_preference_type or not target.isNew%}disabled{%endif%}">aaa{%trans '-- Please Select --'%}</button>
            <ul class="dropdown-menu">{%for t in TYPES%}{%with name=t|getitem:1%}
               <li><a class="dropdown-item" val="{{t|getitem:0}}" name="{%trans name%}">{%trans name%}</a></li>
            {%endwith%}{%endfor%}</ul>
         </div>
      </div>
      {%if not target.isNew%}<div class="field form-group">
         <label for="idFld">{%trans 'webframe.models.Preference.id'%}</label>
         <input name="id" id="idFld" class="form-control" value="{{target.id.hex|default:''}}" readonly="readonly" required="true" placeholder="{%trans 'webframe.models.Preference.id'%}"/>
      </div>{%endif%}
      {%if target.parent%}<div class="field form-group">
         <label for="parentFld">{%trans 'webframe.models.Preference.parent'%}</label>
         <input name="parent" id="parentFld" class="form-control" value="{{target.parent.id.hex}}" readonly="readonly" required="true" placeholder="{%trans 'webframe.models.Preference.parent'%}"/>
      </div>{%endif%}
      {%if target.owner%}<div class="field form-group">
         <label for="usernameFld">{%trans 'webframe.models.Preference.owner'%}</label>
         <input name="username" id="usernameFld" class="form-control" value="{{target.owner.username|default:''}}" readonly="readonly" placeholder="{%trans 'webframe.models.Preference.owner'%}"/>
         <input type="hidden" name="owner" id="ownerFld" value="{{target.owner.id}}"/>
      </div>{%endif%}
      <div class="field form-group">
         <label for="nameFld">{%trans 'webframe.models.Preference.name'%}</label>
         <input name="name" id="nameFld" class="form-control" value="{{target.name|default:''}}" required="true" placeholder="{%trans 'webframe.models.Preference.name'%}"/>
      </div>
      <div class="field form-group">
         <label for="valueFld">{%trans 'webframe.models.Preference.value'%}</label>
         <textarea name="value" id="valueFld" class="form-control" placeholder="{%trans 'webframe.models.Preference.value'%}">{{target.value|default:''|safe}}</textarea>
      </div>
      <div class="field form-group">
         <label for="sequenceFld">{%trans 'webframe.models.Preference.sequence'%}</label>
         <input type="number" name="sequence" id="sequenceFld" class="form-control" value="{{target.sequence|floatformat:0|default:'0'}}" required="true" placeholder="{%trans 'webframe.models.Preference.sequence'%}"/>
      </div>
      <div class="pnl pnl-btns">
         {%if not target.isNew%}<button type="button" class="btn btn-danger" id="deleteBtn"><i class="fas fa-trash"></i> {%trans 'Preference.actions.delete'%}</button>{%endif%}
         <button type="submit" class="btn btn-warning"><i class="fas fa-save"></i> {%trans 'Preference.actions.save'%}</button>
      </div>
   </form>

   {%if not target.isNew%}<div class="field form-group">
      <label>{%trans 'Preference.childs'%}</label>
      {%render_table childs%}
      <div class="pnl pnl-btns">
         <a href="{%url 'webframe:pref' user=currentuser.username|default:'None' prefId='add'%}?parent={{target.id.hex}}" class="btn btn-primary">
            <i class="fas fa-plus"></i> {%if target.user%}{%trans 'Preference.actions.addChild'%}{%else%}{%trans 'Config.actions.addChild'%}{%endif%}
         </a>
      </div>
   </div>{%endif%}
</div></div>{%endblock%}
