{%extends TMPL_BASE%}{%load i18n%}{%load django_tables2%}{%load method_override%}

{%block title%}{%blocktrans with user=user.username%}{{user}}'s preferences{%endblocktrans%}{%endblock%}

{%block scripts%}{{block.super}}
<script type="text/javascript"><!--
$(document).ready(function(){
	$('tr[prefId]').hover(function(){ $(this).addClass('active'); }, function(){ $(this).removeClass('active'); }).css('cursor', 'pointer').click(function(){
		window.location.href='{{ABSOLUTE_PATH}}users/{{currentuser.username}}/prefs/'+$(this).attr('prefId')+'/';
	});
});
//--></script>
{%endblock%}

{%block content%}<div class="panel panel-default"><div class="panel-body">
	<h1>{%blocktrans with user=user.username%}{{user}}'s preferences{%endblocktrans%}</h1><hr/>

	<div class="pnl-padding"><div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><form id="changePwdFrm" method="POST" class="panel panel-warning">
			{%csrf_token%}
			<div class="panel-heading">{%trans 'Preference.sections.changePassword'%}</div>
			<div class="panel-body">
				{%if not user.is_superuser%}
				<div class="field">
					<label for="oldPwdFld">{%trans 'BTUser.old-password'%}</label>
					<input type="password" name="oldPwd" id="oldPwdFld" class="form-control" required="true" placeholder="{%trans 'BTUser.old-password'%}"/>
				</div>
				{%endif%}
				<div class="field">
					<label for="newPwdFld">{%trans 'BTUser.password'%}</label>
					<input type="password" name="newPwd" id="newPwdFld" class="form-control" required="true" placeholder="{%trans 'BTUser.password'%}"/>
				</div>
				<div class="field">
					<label for="rePwdFld">{%trans 'BTUser.re-password'%}</label>
					<input type="password" name="rePwd" id="rePwdFld" class="form-control" required="true" placeholder="{%trans 'BTUser.re-password'%}"/>
				</div>
				<div class="pnl pnl-btns">
					<button type="submit" class="btn btn-warning">{%trans 'Preference.actions.changePassword'%}</button>
				</div>
			</div>
		</form></div>


		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			{%with target=currentuser%}<form id="userFrm" method="POST" action="{{ABSOLUTE_PATH}}users/{{target.username|default:'add'}}/" class="panel panel-warning">
				{%csrf_token%}
				{%method_override 'PUT'%}
				<input type="hidden" name="next" value="{%url 'preferences' target.username%}"/>
				<div class="panel-heading">{%trans 'Preference.sections.pin'%}</div>
				<div class="panel-body">
					<div class="field">
						<label for="first_nameFld">{%trans 'first name'%}</label>
						<input name="first_name" value="{{target.first_name|default:''}}" class="form-control" placeholder="{%trans 'first name'%}" required="true"/>
					</div>
					<div class="field">
						<label for="last_nameFld">{%trans 'last name'%}</label>
						<input name="last_name" value="{{target.last_name|default:''}}" class="form-control" placeholder="{%trans 'last name'%}" required="true"/>
					</div>
					<div class="field">
						<label for="emailFld">{%trans 'email address'%}</label>
						<input name="email" value="{{target.email|default:''}}" class="form-control" placeholder="{%trans 'email address'%}" required="true"/>
					</div>
					<div class="pnl pnl-btns">
						<button type="submit" class="btn btn-warning"><i class="fa fa-user"></i> {%trans 'User.actions.update'%}</button>
					</div>
				</div>
			</form>{%endwith%}
		</div>

		{%if user.is_superuser%}
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><div class="panel panel-info">
			<div class="panel-heading">{%trans 'Preference.sections.config'%}</div>
			<div class="panel-body">
				{%render_table config%}
				<div class="pnl pnl-btns">
					<a class="btn btn-primary" href="add/?mode={{csrf_token}}"><i class="fa fa-plus"></i> {%trans 'Preference.actions.addConfig'%}</a>
				</div>
			</div>
		</div></div>
		{%endif%}

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"><div class="panel panel-info">
			<div class="panel-heading">{%trans 'Preference.sections.preference'%}</div>
			<div class="panel-body">
				{%render_table preference%}
				<div class="pnl pnl-btns">
					<a class="btn btn-primary" href="add/"><i class="fa fa-plus"></i> {%trans 'Preference.actions.addPref'%}</a>
				</div>
			</div>
		</div></div>
	</div></div>
</div></div>{%endblock%}
