{%extends TMPL_BASE%}{%load i18n%}{%load django_tables2%}

{%block title%}{%blocktrans with user=user.username%}{{user}}'s preferences{%endblocktrans%}{%endblock%}

{%block scripts%}{{block.super}}
<script type="text/javascript"><!--
$(document).ready(function(){
	$('tr[prefId]').hover(function(){ $(this).addClass('active'); }, function(){ $(this).removeClass('active'); }).css('cursor', 'pointer').click(function(){
		window.location.href='{{ABSOLUTE_PATH}}users/{{currentuser.username}}/prefs/'+$(this).attr('prefId')+'/';
	});
});
//--></script>
{%endblock%}

{%block content%}<div class="jumbotron">
	<h1>{%blocktrans with user=user.username%}{{user}}'s preferences{%endblocktrans%}</h1>
	<hr/>

	<div class="pnl-padding">
		<form id="changePwdFrm" method="POST">
			{%csrf_token%}
			<h2>{%trans 'Preference.sections.changePassword'%}</h2>
			{%if not user.is_superuser%}
			<div class="field">
				<label for="oldPwdFld">{%trans 'BTUser.old-password'%}</label>
				<input type="password" name="oldPwd" id="oldPwdFld" class="form-control" required="true" placeholder="{%trans 'BTUser.old-password'%}"/>
			</div>
			{%endif%}
			<div class="field">
				<label for="newPwdFld">{%trans 'BTUser.password'%}</label>
				<input type="password" name="newPwd" id="newPwdFld" class="form-control" required="true" placeholder="{%trans 'BTUser.password'%}"/>
			</div>
			<div class="field">
				<label for="rePwdFld">{%trans 'BTUser.re-password'%}</label>
				<input type="password" name="rePwd" id="rePwdFld" class="form-control" required="true" placeholder="{%trans 'BTUser.re-password'%}"/>
			</div>
			<div class="pnl pnl-btns">
				<button type="submit" class="btn btn-warning">{%trans 'Preference.actions.changePassword'%}</button>
			</div>
		</form>

		{%if user.is_superuser%}
		<h2>{%trans 'Preference.sections.config'%}</h2>
		{%render_table config%}
		<div class="pnl pnl-btns">
			<a class="btn btn-primary" href="add/?mode={{csrf_token}}"><i class="fa fa-plus"></i> {%trans 'Preference.actions.addConfig'%}</a>
		</div>
		{%endif%}

		<h2>{%trans 'Preference.sections.preference'%}</h2>
		{%render_table preference%}
		<div class="pnl pnl-btns">
			<a class="btn btn-primary" href="add/"><i class="fa fa-plus"></i> {%trans 'Preference.actions.addPref'%}</a>
		</div>
	</div>
</div>{%endblock%}
