{%extends TMPL_BASE%}{%load i18n django_tables2 pref static%}

{%block title%}{%trans 'WebAuthnPubkeies'%}{%endblock%}

{%block scripts-blk%}
{%endblock%}

{%block loading-blk%}
<script type="text/javascript" src="{%static 'js/webframe/navbar.js'%}"></script>
<script type="text/javascript"><!--
var hoverClass="{%pref 'HOVER_CLASS' defval='bg-secondary text-white' returnValue=True%}"; 
var confirmDelete=function(evt){
   let msg='{%blocktrans with id="%(id)s"%}WebAuthnPubkey.confirmDelete {{id}}{%endblocktrans%}';
   let id=$(this).parents('tr[id]:first').attr('id');
   if(confirm(interpolate(msg, {'id':id}, true))){
      $('#deleteFrm')
         .attr('action', '{%url "webframe:pubkey" id="__id__"%}'.replace('__id__', id))
         .find('input[name=id]').val(id).end().ajaxSubmit({
            'method': 'DELETE',
            'headers': {'X-CSRFToken': Cookies.get('csrftoken')},
            'success':function(data){
               window.location.reload();
            }, 
            'error':function(xhr, txtstatus, err){console.error(txtstatus); console.error(err);}
         });
   }
}
$(document).ready(function(){
   $('navbar[href]').wfnavbar();
   $('#WebAuthnPubkeyTbl')
      .find('tr[ipaddr]')
         .hover(function(){$(this).addClass(hoverClass);}, function(){$(this).removeClass(hoverClass);})
         .css('cursor', 'pointer')
         .on('click', function(){ window.open('{%url "webframe:ipgeo" ipaddr="__ipaddr__"%}'.replaceAll('__ipaddr__', $(this).attr('ipaddr'))); })
      .end()
      .find('.deleteBtn').on('click', confirmDelete).end()
      ;
});
//--></script>
{%endblock%}

{%block content%}<div class="card card-secondary">
<div class="card-body">
    <h1>{%trans 'WebAuthnPubkeies'%}</h1><hr/>
    {%render_table target%}
    <div class="pnl pnl-btns">
        {%for b in btns%}<a href="{{b.href}}" class="btn btn-{{b.lv|default:'info'}}">{{b.label}}</a>{%endfor%}
        {%if perms.auth.add_webauthnpubkey%}<a href="{%url 'webframe:webauthn-registration'%}" class="btn btn-outline-primary"><i class="fas fa-key"></i> {%trans 'WebAuthnPubkey.actions.new'%}</a>{%endif%}
    </div>
    <form id="deleteFrm" method="DELETE" action="">
      {%csrf_token%}
      <input type="hidden" name="_method" value="DELETE"/>
      <input type="hidden" name="id" value=""/>
   </form>
</div>
</div>{%endblock%}
