{%load staticfiles%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="{%static 'summernote-0.8.2/summernote.css'%}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css">
<link rel="stylesheet" href="{%static 'css/basic.css'%}"/>
{%block themes%}
	<link rel="stylesheet" href="{%static 'css/base-theme.css'%}"/>
	<style type="text/css">
	{{wf_theme_styles|safe}}
	</style>
{%endblock%}

<script src="https://cdn.jsdelivr.net/jquery/2.2.1/jquery.min.js"></script>
