{%extends TMPL_BASE%}{%load i18n django_tables2 pref%}

{%block title%}{%trans 'users'%}{%endblock%}

{%block scripts%}{{block.super}}
<style type="text/css">
/* Mobile Device */
@media screen and (max-device-width: 799px){
	.is_active{display: none;}
	.is_staff{display: none;}
	.is_superuser{display: none;}
	.date_joined{display: none;}
}
</style>
<script type="text/javascript"><!--
var hoverClass="{%pref 'HOVER_CLASS' defval='bg-secondary text-white' returnValue=True%}"; 
$(document).ready(function(){
	$('tr[username]')
		.hover(function(){ $(this).addClass(hoverClass); }, function(){ $(this).removeClass(hoverClass); }).css('cursor', 'pointer')
		.click(function(){
			window.location.href="{%url 'webframe:user' user='_userId_'%}".replace('_userId_', $(this).attr('username'));
		});
});
//--></script>
{%endblock%}

{%block content%}<div class="card card-secondary">
<div class="card-body">
    <h1>{%trans 'users'%}</h1><hr/>
    {%render_table target%}
    <div class="pnl pnl-btns">
        {%for b in btns%}<a href="{{b.href}}" class="btn btn-{{b.lv|default:'info'}}">{{b.label}}</a>{%endfor%}
        {%if perms.auth.add_user%}<a href="{%url 'webframe:user' user='add'%}" class="btn btn-primary"><i class="fas fa-user-plus"></i> {%trans 'User.actions.new'%}</a>{%endif%}
    </div>
</div>
</div>{%endblock%}
