{%extends TMPL_BASE%}{%load i18n method_override urlexists%}

{%block title%}{%trans 'User.new' as newuser%}{{target.username|default:newuser}} - {%trans 'users'%}{%endblock%}

{%block scripts%}{{block.super}}
<script type="text/javascript" src="{% url 'webframe:js' %}"></script>
<script type="text/javascript"><!--
$(document).ready(function(){
	$('input[type=checkbox].switch').bootstrapSwitch();
	$('#deleteBtn').click(function(){
		if(confirm(gettext('User.msg.confirmDelete'))){
			$(this).parents('form:first')
				.find('input[name=_method]').val('DELETE').end()
				.submit();
		};
	});
});
//--></script>
{%endblock%}

{%block content%}<div class="card card-secondary">
<div class="card-body">
   <h1>{%trans 'User.new' as newuser%}{{target.username|default:newuser}} - {%trans 'users'%}</h1>
   <form id="userFrm" method="POST" action="{%url 'webframe:user' user=target.username|default:'add'%}">
      {%csrf_token%}
      {%method_override 'POST'%}
      {%if target.id%}<div class="field">
         <label for="idFld">{%trans 'id'%}</label>
         <input name="id" value="{{target.id}}" readonly="readonly" class="form-control"/>
      </div>{%endif%}
      <div class="field">
         <label for="usernameFld">{%trans 'username'%}</label>
         <input name="username" value="{{target.username|default:''}}" class="form-control" placeholder="{%trans 'username'%}" required="true"/>
      </div>
      {%if AUTH_PASSWORD_REQUIRED%}<div class="field">
         <label for="passwordFld">{%trans 'password'%}</label>
         <input name="password" class="form-control" placeholder="{%trans 'password'%}" type="password"/>
         <div class="desc">{%trans 'input to change password'%}</div>
      </div><div class="field">
         <label for="confirmPasswdFld">{%trans 'confirm password'%}</label>
         <input name="confirmPasswd" class="form-control" placeholder="{%trans 'confirm password'%}" type="password" equalTo="input[name=password]"/>
         <div class="desc">{%trans 'reinput password to re-confirm'%}</div>
      </div>{%endif%}
      <div class="field">
         <label for="emailFld">{%trans 'email address'%}</label>
         <input name="email" value="{{target.email|default:''}}" class="form-control" placeholder="{%trans 'email address'%}" required="true"/>
      </div>
      <div class="field">
         <label for="first_nameFld">{%trans 'first name'%}</label>
         <input name="first_name" value="{{target.first_name|default:''}}" class="form-control" placeholder="{%trans 'first name'%}" required="true"/>
      </div>
      <div class="field">
         <label for="last_nameFld">{%trans 'last name'%}</label>
         <input name="last_name" value="{{target.last_name|default:''}}" class="form-control" placeholder="{%trans 'last name'%}" required="true"/>
      </div>
      {%if perms.auth%}{%if perms.auth.add_user or perms.auth.change_user%}
      <div class="field">
         <div><label for="is_activeFld">{%trans 'active'%}</label></div>
         <input type="checkbox" name="is_active" class="switch" value="True"{%if target.is_active%} checked="checked"{%endif%}/>
      </div>
      <div class="field">
         <div><label for="is_staffFld">{%trans 'staff status'%}</label></div>
         <input type="checkbox" name="is_staff" class="switch" value="True"{%if target.is_staff%} checked="checked"{%endif%}/>
      </div>
      <div class="field">
         <div><label for="is_superuserFld">{%trans 'superuser status'%}</label></div>
         <input type="checkbox" name="is_superuser" class="switch" value="True"{%if target.is_superuser%} checked="checked"{%endif%}/>
      </div>
      {%endif%}{%endif%}

      {%if groups and target.id%}<div class="field">
         <label>{%trans 'user.group'%}</label>
         {%for g in groups%}<div class="input-group">
            <span class="input-group-addon">
               <input type="checkbox" name="groups" value="{{g.id}}" id="group_{{g.id}}"/>
            </span>
            <span class="form-control">{{g.name}}</span>
         </div>{%endfor%}
         <script type="text/javascript"><!--
            $(document).ready(function(){
               //ForEach Group, do the following{%for g in target.groups.all%}
               $('input#group_{{g.id}}').attr('checked','checked');
               //{%endfor%}End
            });
         //--></script>
      </div>{%endif%}

      <div class="pnl pnl-btns">
         {%if 'impersonate-start'|urlexists and user.is_superuser%}<a href="{%url 'impersonate-start' uid=target.id%}" class="btn btn-primary">{%trans 'impersonate-start'%}</a>{%endif%}
         {%if perms.auth.add_group or perms.auth.change_group or perms.auth.delete_group%}<a href="{%url 'admin:auth_group_changelist'%}" target="_blank" class="btn btn-info"><i class="fas fa-users"></i> {%trans 'Group Admin'%}</a>{%endif%}
         {%for b in btns%}<a href="{%url b.href user=target.username%}" class="btn btn-{{b.lv|default:'info'}}">{%if b.icon%}<i class="{{b.icon}}"></i>&nbsp;{%endif%}{%trans b.label%}</a>{%endfor%}
         {%if target.id and perms.auth and perms.auth.delete_user%}<button class="btn btn-danger" id="deleteBtn"><i class="fas fa-user-times"></i> {%trans 'User.actions.delete'%}</button>{%endif%}
         <button type="submit" class="btn btn-warning"><i class="fas fa-save"></i> {%trans 'User.actions.save'%}</button>
      </div>
   </form>
</div>
</div>{%endblock%}
