{%extends TMPL_BASE%}{%load i18n%}{%load method_override%}

{%block title%}{%trans 'User.new' as newuser%}{{target.username|default:newuser}} - {%trans 'users'%}{%endblock%}

{%block scripts%}{{block.super}}
<script type="text/javascript" src="{% url 'webframe-js' %}"></script>
<script type="text/javascript"><!--
$(document).ready(function(){
	$('input[type=checkbox]').bootstrapSwitch();
	$('#deleteBtn').click(function(){
		if(confirm(gettext('User.msg.confirmDelete'))){
			$(this).parents('form:first')
				.find('input[name=_method]').val('DELETE').end()
				.submit();
		};
	});
});
//--></script>
{%endblock%}

{%block content%}<div class="jumbotron"><div class="pnl-padding">
<h1>{%trans 'User.new' as newuser%}{{target.username|default:newuser}} - {%trans 'users'%}</h1>
<form id="userFrm" method="POST" action="{{ABSOLUTE_PATH}}users/{{target.username|default:'add'}}/">
	{%csrf_token%}
	{%method_override 'POST'%}
	{%if target.id%}<div class="field">
		<label for="idFld">{%trans 'id'%}</label>
		<input name="id" value="{{target.id}}" readonly="readonly" class="form-control"/>
	</div>{%endif%}
	<div class="field">
		<label for="usernameFld">{%trans 'username'%}</label>
		<input name="username" value="{{target.username|default:''}}" class="form-control" placeholder="{%trans 'username'%}" required="true"/>
	</div>
	<div class="field">
		<label for="emailFld">{%trans 'email address'%}</label>
		<input name="email" value="{{target.email|default:''}}" class="form-control" placeholder="{%trans 'email address'%}" required="true"/>
	</div>
	<div class="field">
		<label for="first_nameFld">{%trans 'first name'%}</label>
		<input name="first_name" value="{{target.first_name|default:''}}" class="form-control" placeholder="{%trans 'first name'%}" required="true"/>
	</div>
	<div class="field">
		<label for="last_nameFld">{%trans 'last name'%}</label>
		<input name="last_name" value="{{target.last_name|default:''}}" class="form-control" placeholder="{%trans 'last name'%}" required="true"/>
	</div>
	{%if perms.auth%}{%if perms.auth.add_user or perms.auth.change_user%}
	<div class="field">
		<div><label for="is_activeFld">{%trans 'active'%}</label></div>
		<input type="checkbox" name="is_active" value="True"{%if target.is_active%} checked="checked"{%endif%}/>
	</div>
	<div class="field">
		<div><label for="is_staffFld">{%trans 'staff status'%}</label></div>
		<input type="checkbox" name="is_staff" value="True"{%if target.is_staff%} checked="checked"{%endif%}/>
	</div>
	<div class="field">
		<div><label for="is_superuserFld">{%trans 'superuser status'%}</label></div>
		<input type="checkbox" name="is_superuser" value="True"{%if target.is_superuser%} checked="checked"{%endif%}/>
	</div>
	{%endif%}{%endif%}
	<div class="pnl pnl-btns">
		{%if target.id and perms.auth and perms.auth.delete_user%}<button class="btn btn-danger" id="deleteBtn"><i class="fa fa-user-times"></i> {%trans 'User.actions.delete'%}</button>{%endif%}
		<button type="submit" class="btn btn-warning"><i class="fa fa-save"></i> {%trans 'User.actions.save'%}</button>
	</div>
</form>
</div></div>{%endblock%}
