{%extends TMPL_BASE%}{%load static%}

{%block content%}
<div class="container-fluid"><div class="row">
   <div class="mx-auto col-8">
      <div class="accordion accordion-flush" id="Components">
         {%include 'webframe/demo-item.html' with comp='accordion'%}
         {%include 'webframe/demo-item.html' with comp='alerts'%}
         {%include 'webframe/demo-item.html' with comp='badge'%}
         {%include 'webframe/demo-item.html' with comp='breadcrumb'%}
         {%include 'webframe/demo-item.html' with comp='buttons'%}
         {%include 'webframe/demo-item.html' with comp='button-group'%}
         {%include 'webframe/demo-item.html' with comp='card'%}
         {%include 'webframe/demo-item.html' with comp='carousel'%}
      </div>
   </div>
</div></div>
{%endblock%}

{%block footer%}
<div class="container-fluid"><div class="row">
   <div class="mx-auto col-8">{%include TMPL_FOOTER%}</div>
</div></div>
{%endblock%}

{%block scripts-blk%}
<script type="text/javascript" src="{%static 'webframe/js/navbar.js'%}"></script>
<script type="text/javascript"><!--
document.addEventListener('DOMContentLoaded', ()=>{
   wf_loadNavBar(document.querySelectorAll('navbar[href]'));
});
//--></script>
{%endblock%}
