<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://openclipart.org/download/244450/Originuum---Icone-Imagens---1.0.0.svg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://openclipart.org/download/298746/missingImage2.svg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://openclipart.org/download/211774/matt-icons_image-x-generic.svg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
