{%extends TMPL_BASE%}{%load static%}

{%block content%}
<div class="container-fluid"><div class="row">
   <div class="mx-auto col-8">
      <h1>Demo</h1>
   </div>
</div></div>
{%endblock%}

{%block footer%}
<div class="container-fluid"><div class="row">
   <div class="mx-auto col-8">{%include TMPL_FOOTER%}</div>
</div></div>
{%endblock%}

{%block scripts-blk%}
<script type="text/javascript" src="{%static 'webframe/js/navbar.js'%}"></script>
<script type="text/javascript"><!--
document.addEventListener('DOMContentLoaded', ()=>{
   wf_loadNavBar(document.querySelectorAll('navbar[href]'));
});
//--></script>
{%endblock%}
