{%extends 'webframe/base.html'%}{%load i18n static pref%}

{%block title%}{%trans 'resetPassword'%}{%endblock%}

{%block body%}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-12">
         <form method="POST" id="resetPasswordFrm" class="card card-danger">
            <div class="card-header bg-danger">{%trans 'resetPassword'%}</div>
            <div class="card-body">
               {%csrf_token%}

               {%include TMPL_MESSAGES|default:'webframe/messages.html'%}

               {%if not passwordReseted%}
                  {%if token%}
                     <input type="hidden" name="token" value="{{token.key}}"/>
                     <input type="hidden" name="uid" value="{{token.user.id}}"/>
                     <input type="email" name="email" value="{{token.user.email}}" class="form-control" placeholder="{%trans 'email'%}" required="required" readonly="readonly"/>
                     <input type="password" name="password" id="passwordFld" class="form-control" placeholder="{%trans 'password'%}" required="required"/>
                     <input type="password" name="passwordAgain" id="passwordAgainFld" class="form-control" placeholder="{%trans 'password again'%}" equalTo="#passwordFld"/>
                  {%else%}
                     <input type="text" name="username" id="usernameFld" class="form-control" value="{{username|default:''}}" placeholder="{%trans 'username'%}" required="required"/>
                  {%endif%}

                  <div class="pnl-btns">
                     <button class="btn btn-success" type="submit">{%trans 'ResetPassword'%}</button>
                  </div>
               {%endif%}
            </div>
         </form>

         <div class="pnl-footer">{%block login_footer%}{%endblock%}
      </div>
	</div>
	
</div>
{%block footer%}{%include TMPL_FOOTER%}{%endblock%}
{%endblock%}

{%block scripts-blk%}
{%if passwordReseted%}
   <meta http-equiv="refresh" content="5; URL={%url 'webframe:login'%}"/>
{%endif%}
{%endblock%}

{%block loading-blk%}
<script type="text/javascript"><!--
$(document).ready(function(){
   $('#resetPasswordFrm').validate();
});
//--></script>
{%endblock%}
